whitelist:
{% for item in nutanix_proxy_whitelist %}
  - target: "{{ item }}"
{% if item | ansible.utils.ipaddr %}
    targetType: "IPV4_ADDRESS"
{% else %}
    targetType: "DOMAIN_NAME_SUFFIX"
{% endif %}
{% endfor %}
