address: "{{ prism_proxy_address }}"
port: {{ prism_proxy_port }}
name: "{{ prism_proxy_name }}"
{% if prism_proxy_username | default("") != "" and prism_proxy_password | default("") != "" %}
username: "{{ prism_proxy_username }}"
password: "{{ prism_proxy_password }}"
{% endif %}
proxy_types: {{ prism_proxy_types }}
